DB_HOST= localshot
DB_PORT= puerto
DB_DATABASE= nombre de la base de datos
DB_USER= usuario autorizado a usar la base de datos 
DB_PASSWORD= contraseña del usuario
DB_MAX_CONNECTIONS=
DB_IDLE_TIMEOUT=
DB_CONNECTION_TIMEOUT=

SERVER_PORT=