DB_HOST= puerto local
DB_PORT=puerto asignado
DB_DATABASE=nombre de la base de datos
DB_USER=usuario para la db
DB_PASSWORD=contraseña
DB_MAX_CONNECTIONS=20
DB_IDLE_TIMEOUT=30000
DB_CONNECTION_TIMEOUT=10000
NODE_ENV=produccion

SERVER_PORT=3000